.nav{
    width: 100%;
    height: 68px;
    display: flex;
    background-image: linear-gradient(to bottom, rgb(0,0,0,1),rgb(0,0,0,0));
    position: fixed;

    /*Animation*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav-dark{
    background-color: #141414;
}

.nav-left {
    display: flex;
    padding-top: 25px;
}



.nav-right{
    display: flex;
    position: absolute;
    right: 0;
    padding: 15px;
    padding-right: 60px;
}

.nav-left > span{
    /*color: rgb(179,179,179);*/
    color: #ffffff;
    margin-right: 15px;
    font-size: 14px;
    font-family: "Helvetica Neue", "Helvetica",Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;

}

.nav-left > span:first-child{
    font-weight: bold;
}

.nav-left > span:hover{
    color: rgb(179,179,179);
    transition: 400ms;
    cursor: context-menu;
}

.nav-right > .avatar{
    width: 32px;
}

.nav >a >.nav-logo{
    width: 195px;
    height: 65px;
    object-fit: contain;
}
